body{
    text-align:center;
}
body{
    background-color: #232831;
}
#premise{
    color: white;
}
#main{
    color:white;
}
#choose{
    color: white;
}
#choose a{ color: white;}
#choose a:hover{ color:#090}