body{
    background-color: #232831;
}

#title1{
    color:white;
    display: flex;
    justify-content: center; 
    font-size: 35px;
}

#title2{
    color:white;
    display: flex;
    justify-content: center; 
    font-size: 18px;
}

.choose {
    text-align: center;
    border: solid white;   /*设置边框样式跟颜色*/
    border-width: 2px; /*设置边框宽度*/
    background:#32363d;  /*设置背景色*/
    font-size:20px;/*设置字体大小*/
    border-radius: 20px;
    width: 120px;
    height: 40px;
    margin: auto;
}


.choose a{ 
    color: white;
}
.choose a:hover{ 
    color:#090
}
.choose a:link,a:visited{
    text-decoration:none; 
} /*超链接无下划线*/